<div class="signup-wrapper">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
        <h2>Registro</h2>
        <div>
            <label for="id">Cédula</label>
            <input id="id" formControlName="id" type="int" placeholder="Ingresa tu cédula"
                [class.invalid]="signupForm.get('id')?.invalid && signupForm.get('id')?.touched" />
            <div class="error-message" *ngIf="signupForm.get('id')?.invalid && signupForm.get('id')?.touched">
                <small>La cédula es requerido.</small>
            </div>
        </div>

        <div>
            <label for="nombres">Nombres</label>
            <input id="nombres" formControlName="nombres" type="nombres" placeholder="Ingresa tu nombre"
                [class.invalid]="signupForm.get('nombres')?.invalid && signupForm.get('nombres')?.touched" />
            <div class="error-message"
                *ngIf="signupForm.get('nombres')?.invalid && signupForm.get('nombres')?.touched">
                <small>Debes ingresar tus nombres</small>
            </div>
        </div>

        <div>
            <label for="apellidos">Apellidos</label>
            <input id="apellidos" formControlName="apellidos" type="apellidos" placeholder="Ingresa tu apellido"
                [class.invalid]="signupForm.get('apellidos')?.invalid && signupForm.get('apellidos')?.touched" />
            <div class="error-message"
                *ngIf="signupForm.get('apellidos')?.invalid && signupForm.get('apellidos')?.touched">
                <small>Debes ingresar tus apellidos</small>
            </div>
        </div>

        <div>
            <label for="gender">Selecciona tu género</label>
            <select id="gender" formControlName="gender">
                <option value="">--Seleccione una opción--</option>
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
                <option value="Otros">Otros</option>
            </select>
            <div class="error-message" *ngIf="signupForm.get('gender')?.invalid && signupForm.get('gender')?.touched">
                <small>Seleccione una opción</small>
            </div>
        </div>

        <div>
            <label for="direccion">Dirección</label>
            <input id="direccion" formControlName="direccion" type="direccion" placeholder="Ingresa tu direccion de domicilio"
                [class.invalid]="signupForm.get('direccion')?.invalid && signupForm.get('direccion')?.touched" />
            <div class="error-message"
                *ngIf="signupForm.get('direccion')?.invalid && signupForm.get('direccion')?.touched">
                <small>Debes ingresar tu direccion de domicilio</small>
            </div>
        </div>

        <div>
            <label for="provincia">Provincia</label>
            <select id="provincia" formControlName="provincia">
                <option value="">--Seleccione una provincia--</option>
                <option *ngFor="let provincia of provincias" [value]="provincia.id">{{ provincia.nombre }}</option>
            </select>
            <div class="error-message" *ngIf="signupForm.get('provincia')?.invalid && signupForm.get('provincia')?.touched">
                <small>Seleccione una opción</small>
            </div>
        </div>

        <div>
            <label for="canton">Cantón</label>
            <select id="canton" formControlName="canton">
                <option value="">--Seleccione un cantón--</option>
                <option *ngFor="let canton of cantones" [value]="canton.id">{{ canton.nombre }}</option>
            </select>
            <div class="error-message" *ngIf="signupForm.get('canton')?.invalid && signupForm.get('canton')?.touched">
                <small>Seleccione una opción</small>
            </div>
        </div>

        <div>
            <label for="parroquia">Parroquia</label>
            <select id="parroquia" formControlName="parroquia">
                <option value="">--Seleccione una parroquia--</option>
                <option *ngFor="let parroquia of parroquias" [value]="parroquia.id">{{ parroquia.nombre }}</option>
            </select>
            <div class="error-message" *ngIf="signupForm.get('parroquia')?.invalid && signupForm.get('parroquia')?.touched">
                <small>Seleccione una opción</small>
            </div>
        </div>

        <div>
            <label for="recinto">Recinto</label>
            <select id="recinto" formControlName="recinto">
                <option value="">--Seleccione un recinto--</option>
                <option *ngFor="let recinto of recintos" [value]="recinto.id">{{ recinto.nombre }}</option>
            </select>
            <div class="error-message" *ngIf="signupForm.get('recinto')?.invalid && signupForm.get('recinto')?.touched">
                <small>Seleccione una opción</small>
            </div>
        </div>

        <div>
            <label for="telephone1">Teléfono principal:</label>
            <input id="telephone1" formControlName="telephone1" type="tel" placeholder="012-345-6789"
                [class.invalid]="signupForm.get('telephone1')?.invalid && signupForm.get('telephone1')?.touched">
            <div class="error-message"
                *ngIf="signupForm.get('telephone1')?.invalid && signupForm.get('telephone1')?.touched">
                <small>Ingrese su número de teléfono</small>
            </div>
        </div>

        <div>
            <label for="telephone2">Teléfono auxiliar:</label>
            <input id="telephone2" formControlName="telephone2" type="tel" placeholder="012-345-6789">
        </div>

        <div>
            <label for="correo">Correo electrónico</label>
            <input id="correo" formControlName="correo" type="email" placeholder="Ingresa tu correo electrónico"
                [class.invalid]="signupForm.get('correo')?.invalid && signupForm.get('correo')?.touched" />
            <div class="error-message"
                *ngIf="signupForm.get('correo')?.invalid && signupForm.get('correo')?.touched">
                <small>Debes ingresar tu correo electrónico</small>
            </div>
        </div>

        <div>
            <label class="acceptTerms">
                <input class="check" type="checkbox" formControlName="acceptTerms" />
                <p>Acepto las <a href="#" (click)="showPolices($event)">políticas de privacidad</a></p>
            </label>
        </div>

        <button type="submit" [disabled]="signupForm.invalid">Enviar solicitud de registro</button>
    </form>
    <p>¿Eres un administrador? Inicia sesión <a href="#" (click)="gotoLogin($event)">aquí</a></p>
</div>

<app-policies [id]="'polices'"></app-policies>

<app-enviousuario [id]="'inscripción'"></app-enviousuario>