<div class="changepswd-wrapper">
    <form [formGroup]="newpasswordForm" (ngSubmit)="onSubmit()">
        <div id="atras">
            <button (click)="goback()">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <h2>Cambiar de contraseña</h2>
        </div>
        <p>Escriba su nueva contraseña para finalizar.</p>
        <div>
            <label for="newpassword">Nueva contraseña</label>
            <input id="newpassword" formControlName="newpassword" type="password" placeholder="Ingresa tu contraseña"
                [class.invalid]="newpasswordForm.get('newpassword')?.invalid && newpasswordForm.get('newpassword')?.touched" />
            <div class="error-message" *ngIf="newpasswordForm.get('newpassword')?.invalid && newpasswordForm.get('newpassword')?.touched">
                <small *ngIf="newpasswordForm.get('newpassword')?.errors?.['minlength']">La contraseña debetener mínimo 12
                    caracteres.</small>
            </div>
        </div>
        <div>
            <label for="confirmpassword">Confirmar contraseña</label>
            <input id="confirmpassword" formControlName="confirmpassword" type="password" placeholder="Ingresa tu contraseña"
                [class.invalid]="newpasswordForm.get('confirmpassword')?.invalid && newpasswordForm.get('confirmpassword')?.touched" />
            <div class="error-message" *ngIf="newpasswordForm.get('confirmpassword')?.invalid && newpasswordForm.get('confirmpassword')?.touched">
                <small *ngIf="newpasswordForm.get('confirmpassword')?.errors?.['minlength']">La contraseña debetener mínimo 12
                    caracteres.</small>
            </div>
        </div>
        <div id="boton">
            <button type="submit" [disabled]="newpasswordForm.invalid">Enviar enlace de recuperación</button>
        </div>
    </form>
</div>