.confirm {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  background-color: #fafafa;
  margin: auto;
  width: 25%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;

  button {
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }
}

.content .accept {
  background-color: #18599d;
  color: #e6e7e7;
}

.content .cancel {
  background-color: inherit;
  border: 1px solid #18599d;
  color: #18599d;
}