.sidebar {
    height: 98%;
    width: 270px;
    position: fixed;
    background-color: #18599d;
    padding: 20px 0 0;
    overflow-y: auto;
    overflow-x: hidden;
}

img {
    align-items: center;
    height: 175px;
}

h6 {
    margin: 0;
    color: #e6e7e7;
    padding-left: 10px;
}

.sidebar a.active {
    background-color: #e6e7e7;
    color: #18599d;
    font-weight: bold;
}

.sidebar a {
    text-decoration: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 20px;
    display: block;
    color: white;
    transition: background-color 0.2s;
  }

.sidebar a:hover {
    background-color: #e6e7e7;
    color: #18599d;
    font-weight: bold;
}