<div class="sidebar">
    <img src="assets/images/logo.png" alt="Logo">
    <h6>Control</h6><hr>
    <a routerLink="/controlelectoral" routerLinkActive="active"><i class="fa-solid fa-house"></i>Control Electoral</a>
    <a routerLink="/dashboard" routerLinkActive="active"><i class="fa-solid fa-chart-simple"></i>Dashboard</a>
    <a routerLink="/a" routerLinkActive="active"><i class="fa-solid fa-file"></i>Actas</a>
    <a routerLink="/b" routerLinkActive="active"><i class="fa-solid fa-comment"></i>Chats</a>
    <a routerLink="/c" routerLinkActive="active"><i class="fa-solid fa-desktop"></i>Inscripciones</a>
    <h6>Gestión</h6><hr>
    <a routerLink="/d" routerLinkActive="active"><i class="fa-solid fa-users"></i>Usuarios</a>
    <a routerLink="/e" routerLinkActive="active"><i class="fa-regular fa-calendar"></i>Eventos</a>
    <a routerLink="/f" routerLinkActive="active"><i class="fa-solid fa-newspaper"></i>Noticias</a>
    <a routerLink="/g" routerLinkActive="active"><i class="fa-solid fa-list-check"></i>RBU</a>
    <a routerLink="/h" routerLinkActive="active"><i class="fa-brands fa-keycdn"></i>Roles</a>
    <a routerLink="/i" routerLinkActive="active"><i class="fa-solid fa-location-dot"></i>Territorios</a>
    <a routerLink="/j" routerLinkActive="active"><i class="fa-solid fa-table-list"></i>Papeletas</a>
    <a routerLink="/dignidades-consultas" routerLinkActive="active"><i class="fa-solid fa-magnifying-glass"></i>Dignidades y consultas</a>
    <a routerLink="/l" routerLinkActive="active"><i class="fa-solid fa-person-chalkboard"></i>Capacitaciones</a>
</div>