.sidebar {
    height: 98vh;
    background-color: #18599d;
    padding: 20px 0 0;
    overflow-y: auto;
    overflow-x: hidden;
}

img {
    height: 150px;
}

h6 {
    margin: 0;
    color: #e6e7e7;
    padding-left: 10px;
}

.sidebar a i {
    padding: 0 10px;
    width: 20px;
}

.sidebar a.active {
    background-color: #e6e7e7;
    color: #18599d;
    font-weight: bold;
}

.sidebar a {
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 5px;
    display: block;
    color: white;
    transition: background-color 0.2s;
  }

.sidebar a:hover {
    background-color: #e6e7e7;
    color: #18599d;
    font-weight: bold;
}

a[routerLink^="/none"] {
    cursor: not-allowed;
}