<div class="table-container">
  <!-- Filtro dinámico -->
  <div *ngIf="isFilterable" class="filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Selecciona un campo</mat-label>
      <mat-select [(ngModel)]="selectedField" (selectionChange)="onFieldChange()">
        <mat-option *ngFor="let column of displayedColumns" [value]="column">
          {{ column | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input matInput [(ngModel)]="filters[selectedField ||'']" [disabled]="!selectedField" (input)="applyFilters()" />
    </mat-form-field>
  </div>

  <!-- Tabla -->
  <div class="tabla-wrapper">
    <table mat-table [dataSource]="pagedData">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          <h3>{{ column | titlecase }}</h3>
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="column === 'acciones'">
            <div class="action-conteiner">
              <p *ngFor="let action of actions" (click)="action.callback(element)"><i class="{{action.icon}}"></i></p>
            </div>
          </ng-container>
          {{ element[column] }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Paginador -->
  <mat-paginator [length]="filteredData.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15, 20]"
    (page)="onPageChange($event)"></mat-paginator>
</div>