.header-container {
    background: linear-gradient(to right, #f5f5f5, #9ab4d1);
    display: flex;
    align-items: center;
    height: 50px;
    padding: 20px;
}

.header-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}

.header-icons i {
    font-size: 42px;
    width: 50px;
    cursor: pointer;
}

.fa-solid.fa-bell {
    color: #ffd245;
}

.fa-solid.fa-circle-user {
    color: #f43195;
}

.notificaciones {
    width: 250px;
    height: auto;
    text-align: center;

    span.none{
        margin: auto;
    }
}