<div class="header-container">
    <div class="header-icons">
        <i class="fa-solid fa-bell" mat-icon-button [matMenuTriggerFor]="notificaciones"></i>
        <mat-menu #notificaciones="matMenu">
            <div class="notificaciones">
                <span>No tienes notificaciones</span>
            </div>
        </mat-menu>
        <i class="fa-solid fa-circle-user" mat-icon-button [matMenuTriggerFor]="menu"></i>
        <mat-menu #menu="matMenu">
            <span mat-menu-item>{{user.nombres}} {{user.apellidos}}</span>
            <span mat-menu-item>{{user.identificacion}}</span>
            <span mat-menu-item>{{user.correo_electronico}}</span>
            <span mat-menu-item (click)="logout()">Cerrar Sesión</span>
        </mat-menu>
    </div>
</div>