.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 40vh;
    min-width: 300px;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    width: 100%;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.ver {
    background-color: #e6e7e7;
    color: #18599d;
}

.archivar {
    background-color: #18599d;
    color: #e6e7e7;
}