<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="close" (click)="close()">&times;</span>
        <h2>Términos y Condiciones</h2>
        <p>Última actualización: [Fecha]</p>

        <h3>1. Aceptación de los Términos</h3>
        <p>Al acceder a este sitio web, aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo con
            alguna parte de estos términos, no debes usar este sitio.</p>

        <h3>2. Uso del Sitio</h3>
        <p>Este sitio solo está destinado para uso personal y no comercial. Te comprometes a no utilizar este sitio para
            fines ilegales o prohibidos por estos términos.</p>

        <h3>3. Propiedad Intelectual</h3>
        <p>Todo el contenido de este sitio, incluyendo textos, gráficos, logotipos, íconos y software, es propiedad de
            [Nombre de la Empresa] o de sus respectivos propietarios. Está protegido por las leyes de derechos de autor.
        </p>

        <h3>4. Limitación de Responsabilidad</h3>
        <p>[Nombre de la Empresa] no será responsable de ningún daño directo, indirecto, incidental o consecuente que
            surja del uso de este sitio o de la incapacidad para usarlo.</p>

        <h3>5. Cambios a los Términos</h3>
        <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Te recomendamos que
            revises esta página periódicamente para estar al tanto de los cambios.</p>

        <h3>6. Contacto</h3>
        <p>Si tienes alguna pregunta sobre estos términos, por favor contacta a [Correo Electrónico o Teléfono].</p>
    </div>
</div>