<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Inicio de sesión</h2>
    <div>
      <label for="username">Usuario</label>
      <input id="username" formControlName="username" type="username" placeholder="Ingresa tu usuario" [class.invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"/>
      <div class="error-message" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        <small>El usuario es requerido.</small>
      </div>
    </div>

    <div>
      <label for="password">Contraseña</label>
      <input id="password" formControlName="password" type="password" placeholder="Ingresa tu contraseña" [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"/>
      <div class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']" >La contraseña debetener mínimo 12 caracteres.</small>
      </div>
    </div>

    <div id="recuperarcontraseña">
      <a href="#" (click)="forgotPassword($event)">¿Olvidaste tu contraseña?</a>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
  </form>
</div>