.modal {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 20%;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid #ddd;
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

h2 {
    margin: 0 0 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.binomio,
.organizacion,
.consulta {
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: #18599d;
    color: #e6e7e7;
}