<div class="content">
    <div class="header">
        <h3>Gestionando dignidades y consultas</h3>
        <a class="archive-button"><i class="fa-solid fa-box-archive"></i> Ver archivados</a>
    </div>
    <div class="gestion-binomio">
        <div class="header">
            <h3>Gestionando binomio presidencial</h3>
            <a class="add-button" href="#" (click)="agregarBinomio($event)"><i class="fa-regular fa-square-plus"></i>
                Agregar binomio</a>
        </div>
    </div>
    <div class="gestion-consultas">
        <div class="header">
            <h3>Gestionando consultas</h3>
            <a class="add-button" href="#" (click)="agregarConsulta($event)"><i class="fa-regular fa-square-plus"></i>
                Agregar consultas</a>
        </div>
        <app-tabla *ngIf="isDataLoaded" [displayedColumns]="consultascampo" [isFilterable]="false"
            [originalData]="consultas" [actions]="consultasacciones"></app-tabla>
    </div>
</div>

<app-agregarconsulta [id]="'addConsulta'"></app-agregarconsulta>

<app-agregarconsulta [id]="'modConsulta'" [isNew]="false" [consulta]="elemento"></app-agregarconsulta>

<app-confirmation [id]="'eliminar'" [tipo]="'eliminar'" (confirm)="confirmDelete($event)"></app-confirmation>