<div class="container">

    <div class="content">
        <div class="existing-provincias">
            <h3>Parroquias Existentes</h3>
            <app-tabla *ngIf="isDataLoaded" [displayedColumns]="parroquiascampo" [originalData]="parroquias"
                [filters]="parroquiasfilter" [actions]="parroquiasacciones"></app-tabla>
        </div>

        <div class="provincias-container">
            <h3>Agregar Parroquia de {{canton.nombre | titlecase}}</h3>
            <form [formGroup]="parroquiaForm" (ngSubmit)="submitParroquias()">
                <div class="input-group">
                    <input type="text" class="input" placeholder="Nombre de la provincia" formControlName="nombre"
                        required />
                    <button type="submit" class="add-btn" [disabled]="!parroquiaForm.valid">
                        Agregar Parroquia
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-cargarrecinto *ngIf="showRecinto" [parroquia]="pendingElement"></app-cargarrecinto>

<app-confirmation [id]="'eliminar'" [tipo]="'eliminar'" (confirm)="confirmDelete($event)"></app-confirmation>