<div class="forgotpswd-wrapper">
    <form [formGroup]="forgorpswdForm" (ngSubmit)="onSubmit()">
        <div id="atras">
            <button (click)="goback()">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <h2>Cambiar de contraseña</h2>
        </div>
        <p>Para recuperar su contraseña, escriba el correo electrónico con el que se registró para enviarle un email de
            recuperación.</p>
        <div>
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" formControlName="email" [class.invalid]="forgorpswdForm.get('email')?.invalid && forgorpswdForm.get('email')?.touched">
            <div class="error-message" *ngIf="forgorpswdForm.get('email')?.invalid && forgorpswdForm.get('email')?.touched">
                <small>Por favor, ingresa un correo electrónico válido.</small>
            </div>
        </div>
        <div id="boton">
            <button type="submit" [disabled]="forgorpswdForm.invalid">Enviar enlace de recuperación</button>
        </div>
    </form>
</div>