.content {
    padding: 10px;
}

.resumen-votos {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas:
        "partido votosvalidos chart"
        "votosblancos votosnulos chart";
    gap: 25px;
}

.partido,
.votosvalidos,
.votosblancos,
.votosnulos,
.chart {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.partido {
    grid-area: partido;
}

.votosvalidos {
    grid-area: votosvalidos;
}

.votosblancos {
    grid-area: votosblancos;
}

.votosnulos {
    grid-area: votosnulos;
}

.chart {
    grid-area: chart;
    overflow-x: auto;
    overflow-y: hidden;
}

.barra-votos {
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;

    .barra {
        padding: 10px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}