.container {
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.existing-provincias,
.provincias-container {
    width: 45%;
}

.input-group {
    display: flex;
    align-items: center;
    border: 2px, dashed, #18599d;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    gap: 10px;

    input {
        color: black;
        padding: 10px;
        border: 1px solid #9ab4d1;
        border-radius: 4px;
        height: 30px;
        flex-grow: 1;
    }

    .add-btn {
        height: 50px;
        padding: 0 20px;
    }
}

.full-width {
    flex: 1;
    margin-right: 10px;
}

.actions {
    text-align: right;
}