.content {
    padding: 10px;
}

.control-usuario,
.control-actas {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 10px;
    border-radius: 8px;
    border: 2px, dashed, #18599d;
}

app-undermaintenance {
    flex-grow: 1;
}

.footer {
    position: bottom;
    width: fit-content;
}