/* Contenedor principal como grid */
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content-area";
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f4f4f4;
}

.header {
    grid-area: header;
    background-color: #ddd;
}

.content-area {
    grid-area: content-area;
    background-image: url("/assets/images/aaabstract.webp");
    background-size: cover;
    overflow-y: auto;
}