.forgotpswd-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 350px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: wrap;
}

#atras {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#atras button {
    font-size: 20px;
    color: #18599d;
    background-color: white;
    border: none;
}

#atras button:hover {
    color: #0063ce;
}

h2 {
    color: #18599d;
    text-align: center;
    margin: 5px 0;
}

p {
    margin: 0;
}

label {
    color: #18599d;
    font-weight: bold;
    display: block;
    margin: 5px 0;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.invalid {
    border-color: red;
}

#boton {
    margin-top: auto;
}

#boton button {
    width: 100%;
    padding: 10px;
    background-color: #18599d;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

#boton button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#boton button:hover:not(:disabled) {
    background-color: #0063ce;
}

.error-message {
    color: red;
    font-size: 0.85em;
}