.content {
    padding: 10px;
}

.header {
    display: flex;
    flex-direction: row;
}

.header h3 {
    flex-grow: 1;
}

.header a {
    margin: auto;
}

.add-button {
    text-decoration: none;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    background-color: #18599d;
    color: #ffffff;

    a {
        color: #ffffff;
    }
}

.papeletas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    justify-content: center;
}