#info {
    text-align: center;
    font-size: 40px;
}

#separador {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

hr {
    flex: 1;
    margin: 0 10px ;
}

p {
    font-size: 24px;
}