@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

p, h4 {
    color: #9ab4d1;
}

h2, h3 {
    color: #18599d;
}